/* import */


@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');body {
    }

    * {
        box-sizing: border-box;
      }


form{
    margin: auto;
    text-align: center;
    margin-top: 2em;
}
      
 form label{
    display: block;
    margin-bottom: 1em;
  
}

textarea{
    margin-bottom: 1em;
    width: 20em;
    height: 10em;

}

input{
    margin-bottom: 10px;
    width: 20em;
}


html,body {
    font-family: 'Baskervville', serif;
    max-height: 100vh;
    min-height: 100vh;
}


    body {
        display: flex;
    }
p{
    margin-top: 2em;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
}


footer{
    text-align: center;
    padding: 1em;
}

header nav{padding-left: 3em;}


.container{
    flex:1;
display: flex;
flex-direction: column;
}



main {
align-items: center; 
padding-left: 5rem;
padding-right: 5rem;
margin: auto;
}




h1,h2,h3,h4,h5,h6{
    text-align:center
}
nav{padding-top: 1rem;}

nav a{text-decoration: none;
color:#707070;
padding-right:1rem;
font-size: 18px;}

nav a:hover{
    color:black;
    }
aside{
    padding: 0px;
    margin: 0px;
    height: 100vh;
}
aside img{
    display: block;
    margin: 0px;
    padding: 0px;
    height: auto;
    max-height: 100%;

}

@media screen and (max-width: 992px) {
 
    html,body {
        font-family: 'Baskervville', serif;
        max-height: 100%;
        min-height: 100vh;
    }

    body{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        padding:0px;
    }

aside{
    height: auto;
}

    aside img{
        display: block;
        width:100%;
        height:50vh;
       
    
    }

    header{
        z-index: 9999;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        background-color: white;
        }
    header nav{padding-left: 0em;
    text-align: center;
padding-bottom: 1em;}


    main{
        margin: auto;
        padding-left: 2em;
        padding-right: 2rem; 
    }

}